<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${usuario.id == null ? 'Novo' : 'Editar'}]] Usuario</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
</head>

<body>
    <header>
        <a th:href="@{/perfil}" class="d-block" sec:authentication="name"></a>
        <nav>
            <menu>
                <li><a th:href="@{/usuarios}">Usuários</a></li>
                <li><a th:href="@{/passagens}">Passagens</a></li>
                <li><a th:href="@{/pacotes}">Pacotes</a></li>
                <li><a th:href="@{/viagens}">Viagens</a></li>
                <li> <a th:href="@{/logout}">Logout</a></li>
            </menu>
        </nav>
    </header>
    <main>
        <section class="section1">
            <h1>[[${usuario.id == null ? 'NOVO' : 'EDITAR'}]] USUÁRIO</h1>
            <form method="POST" th:object="${usuario}" style="display: flex; flex-direction: column; width: 40%;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <label for="nome">Nome</label>
                <input type="text" placeholder="Nome do Usuário" th:field="*{nome}">
                <input type="hidden" th:field="*{id}" readonly>
                <label for="tipoUsuario">Tipo do Usuário</label>
                <select th:field="*{tipoUsuario}">
                    <option th:each="tipoUsuario:${tiposUsuario}" th:text="${tipoUsuario}" th:value="${tipoUsuario}">
                        USER</option>
                </select>

                <label for="cpf">CPF</label>
                <input id="CPF" type="text" maxlength="14" placeholder="777.888.999-44" th:field="*{cpf}">
                <label for="email">E-mail</label>
                <input type="email" placeholder="dale@dale.com" th:field="*{email}">
                <label for="telefone">Telefone</label>
                <input id="mask" class="smscode" type="text" placeholder="(99)99999-9999" th:field="*{telefone}">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" th:field="*{dataNascimento}">
                <fieldset th:if="${usuario.id == null}">
                    <label for="senha">Senha</label>
                    <input type="password" placeholder="**********" th:field="*{senha}">
                </fieldset>
                <button type="submit">SALVAR</button>
            </form>
        </section>
    </main>
    <script src="/js/inputMask.js"></script>
</body>

</html>