<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-Mail</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th>Tipo de Usuário</th>
                <th>Ações VAMO DALE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.cpf}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.telefone}"></td>
                <td th:text="${#temporals.format(usuario.dataNascimento)}"></td>
                <td th:text="${usuario.tipoUsuario}"></td>
                <td>
                    <div>
                        <a type="button" th:href="@{/usuarios/{id} (id=${usuario.id})}">DETALHES

                        </a>
                        <a type="button" th:href="@{/usuarios/{id}/editar (id=${usuario.id})}">EDITAR

                        </a>
                        <a type="button"th:href="@{/usuarios/{id}/excluir (id=${usuario.id})}"
                            onclick="return confirm('Tem certeza que deseja excluir o usuario?');">EXCLUIR
                        </a>
                    </div>
                <td>
            </tr>
        </tbody>
    </table>
</body>

</html>