<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <header>
        <a th:href="@{/perfil}" class="d-block" sec:authentication="name"></a>
        <nav>
        <menu>
        <li><a class="active" th:href="@{/usuarios}">Usuários</a></li>
        <li><a th:href="@{/passagens}">Passagens</a></li>
        <li><a th:href="@{/pacotes}">Pacotes</a></li>
        <li><a th:href="@{/viagens}">Viagens</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
        </menu>
        </nav>
        </header>
    <main>
        <section class="section1">
    <table>
        <caption>Usuários Cadastrados</caption>
        <thead>
            <tr>
                <th>Nome</th>
                <th>ID</th>
                <th>CPF</th>
                <th>E-Mail</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th>Tipo de Usuário</th>
                <th sec:authorize="hasAuthority('ADMIN')">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.cpf}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.telefone}"></td>
                <td th:text="${#temporals.format(usuario.dataNascimento, 'dd-MM-yyyy')}"></td>
                <td th:text="${usuario.tipoUsuario}"></td>
                <td class="bts" sec:authorize="hasAuthority('ADMIN')">
                    <div class="buttons">
                        <a type="button" th:href="@{/usuarios/{id} (id=${usuario.id})}">DETALHES</a>
                        <a type="button" th:href="@{/usuarios/{id}/editar (id=${usuario.id})}">EDITAR</a>
                        <a type="button"th:href="@{/usuarios/{id}/excluir (id=${usuario.id})}"
                        onclick="return confirm('Tem certeza que deseja excluir o usuario?');">EXCLUIR</a>
                    </div>
                    </td>
            </tr>
        </tbody>
    </table>
    <a sec:authorize="hasAuthority('ADMIN')" class="btnCadastro" th:href="@{/usuarios/cadastrar}">CADASTRAR USUÁRIO</a>
</section>
</main>
</body>

</html>