<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/detalhes.css}">
    <script src="/js/nav.js" defer></script>
</head>

<body>
    <header>
        <a th:href="@{/perfil}" class="usu" sec:authentication="name"></a>
        <button class="mobile-toggle" aria-controls="menu" aria-expanded="false"><span class="sr-only">Menu</span></button>
        <nav>
        <menu class="primary-navigation" id="menu" data-visible="false">
        <li><a th:href="@{/usuarios}">Usuários</a></li>
        <li><a th:href="@{/passagens}">Passagens</a></li>
        <li><a th:href="@{/pacotes}">Pacotes</a></li>
        <li><a th:href="@{/viagens}">Viagens</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
        </menu>
        </nav>
        </header>
    <main>
        <section class="section1">
            <div class="usuarioElement2">
                <h5>Nome</h5>
            <h2 th:text="${usuario.nome}"></h2>
            <h5>ID</h5>
            <h2 th:text="${usuario.id}"></h2>
            <h5>Tipo de Usuário</h5>
            <h2 th:text="${usuario.tipoUsuario}"></h2>
        </div>
            <h3>Dados Pessoais</h3>
            <div class="usuarioElement">
                <h4>CPF:</h4>
                <p th:text="${usuario.cpf}"></p>
            </div>
            <div class="usuarioElement">
                <h4>E-MAIL:</h4>
                <p th:text="${usuario.email}"></p>
            </div>
            <div class="usuarioElement">
                <h4>TELEFONE:</h4>
                <p th:text="${usuario.telefone}"></p>
            </div>
            <div class="usuarioElement">
                <h4>DATA DE NASCIMENTO:</h4>
            <p th:text="${#temporals.format(usuario.dataNascimento)}">DATA DE NASCIMENTO</p>
            </div>
        </section>
    </main>
</body>

</html>