<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Dados da Viagem</h3>
        <h4>ID</p>
        <p th:text="${viagem.id}"></p>
        <h4>Nome do Cliente</h4>
        <p th:text="${viagem.usuario.nome}">Praias Litoral Sul</p>
        <h4>Pacotes da Viagem</h4>
        <p style="display: block;" th:each="pacote : ${viagem.pacotes}" th:text="${pacote.nome}+' : '+${pacote.id}"></p>
        <h4>Passagens</h4>
        <p style="display: block;" th:each="passagem : ${viagem.passagensV}"
        th:text="${passagem.cidadeOrigem}+' : '+${passagem.cidadeDestino}+' : '+${passagem.id}">
        <h4>Data da Compra</h4>
        <p th:text="${#temporals.format(viagem.dataCompra)}"></p>
        <h4>Preço Total</h4>
        <p th:text="${#numbers.formatCurrency(viagem.precoTotal)}">6.300,00</p>
    <a th:href="@{/viagens}">VIAGENS</a>

    
</body>
</html>