<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${viagem.id == null ? 'Nova' : 'Editar'}]] Viagem</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
</head>

<body>
    <header>
        <a th:href="@{/perfil}" class="d-block" sec:authentication="name"></a>
        <nav>
            <menu>
                <li><a th:href="@{/usuarios}">Usuários</a></li>
                <li><a th:href="@{/passagens}">Passagens</a></li>
                <li><a th:href="@{/pacotes}">Pacotes</a></li>
                <li><a th:href="@{/viagens}">Viagens</a></li>
                <li> <a th:href="@{/logout}">Logout</a></li>
            </menu>
        </nav>
    </header>
    <main>
        <section class="section1">
            <h1>[[${viagem.id == null ? 'NOVA' : 'EDITAR'}]] VIAGEM</h1>
            <form method="POST" th:object="${viagem}" style="display: flex; flex-direction: column; width: 40%;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" th:field="*{id}" readonly>
                <label for="usuario">Nome do Cliente</label>
                <select th:field="*{usuario}">
                    <option th:each="usuario:${usuarios}" th:text="${usuario.nome}" th:value="${usuario.id}">1</option>
                </select>
                <label for="usuario">Pacotes Adquiridos</label>
                <div class="checks">
                    <input name="pacote" type="checkbox" th:each="pacote : ${pacotes}" th:field="*{pacotes}"
                        th:value="${pacote.id}" th:text="${pacote.nome}"></option>
                </div>
                <label for="usuario">Passagens Adquiridas</label>
                <div class="checks">
                    <input name="passagem" type="checkbox" th:each="passagem : ${passagens}" th:field="*{passagensV}"
                        th:value="${passagem.id}" th:text="${passagem.cidadeDestino}+' : '+${passagem.numeroBilhete}" />
                </div>
                <label for="dataCompra">Data da Compra</label>
                <input type="datetime-local" th:field="*{dataCompra}">
                <label for="preco">Preço Total</label>
                <input type="text" placeholder="2500,00" th:field="*{precoTotal}" readonly>
                <button type="submit">SALVAR</button>
            </form>
        </section>
    </main>
</body>

</html>