<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
	<a th:href="@{/perfil}" class="d-block" sec:authentication="name"></a>
	<br><br>
	 <a th:href="@{/logout}">
        Logout
      </a>
      <br><br>
    <a th:href="@{/viagens/cadastrar}">CADASTRAR VIAGEM</a>
    <br>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Cliente</th>
                <th>Pacotes</th>
                <th>Passagens</th>
                <th>Data da Compra da Viagem</th>
                <th>Preço Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="viagem : ${viagens}">
                <td th:text="${viagem.id}">ID</td>
                <td th:text="${viagem.usuario.nome}">Portão</td>
                <td></td>
                <td th:text="${#temporals.format(viagem.dataCompra)}"></td>
                <td th:text="${viagem.precoTotal}"></td>
                <td>
                    <div>
                        <a type="button" th:href="@{/viagens/{id} (id=${viagem.id})}">DETALHES

                        </a>
                        <a type="button" th:href="@{/viagens/{id}/editar (id=${viagem.id})}">EDITAR

                        </a>
                        <a type="button"th:href="@{/viagens/{id}/excluir (id=${viagem.id})}"
                            onclick="return confirm('Tem certeza que deseja excluir a viagem?');">EXCLUIR
                        </a>
                    </div>
                <td>
            </tr>
        </tbody>
    </table>
</body>

</html>