<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/homeViagens.css}">
    <script src="/js/nav.js" defer></script>
</head>

<body>
    <header>
        <a th:href="@{/perfil}" class="usu" sec:authentication="name"></a>
        <button class="mobile-toggle" aria-controls="menu" aria-expanded="false"><span class="sr-only">Menu</span></button>
        <nav>
        <menu class="primary-navigation" id="menu" data-visible="false">
        <li><a th:href="@{/usuarios}">Usuários</a></li>
        <li><a th:href="@{/passagens}">Passagens</a></li>
        <li><a th:href="@{/pacotes}">Pacotes</a></li>
        <li><a class="active" th:href="@{/viagens}">Viagens</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
        </menu>
        </nav>
        </header>
    <main>
        <section class="section1">
            <table>
                <caption>Viagens Cadastradas</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do Cliente</th>
                        <th>Pacotes</th>
                        <th>Passagens</th>
                        <th>Data da Compra</th>
                        <th>Preço Total</th>
                        <th sec:authorize="hasAuthority('ADMIN')" >Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="viagem : ${viagens}">
                        <td th:text="${viagem.id}"></td>
                        <td th:text="${viagem.usuario.nome}"></td>

                        <td><span style="display: block;" th:each="pacote : ${viagem.pacotes}"
                                th:text="${pacote.nome}">
                            </span></td>
                        <td>
                            <span style="display: block;" th:each="passagem : ${viagem.passagensV}"
                                th:text="${passagem.cidadeOrigem}+' : '+${passagem.cidadeDestino}+' : '+${passagem.id}">
                            </span>
                        </td>
                        <td th:text="${#temporals.format(viagem.dataCompra, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${#numbers.formatCurrency(viagem.precoTotal)}"></td>
                        <td sec:authorize="hasAuthority('ADMIN')" class="bts">
                            <div class="buttons">
                                <a type="button" th:href="@{/viagens/{id} (id=${viagem.id})}">DETALHES</a>
                                <a type="button" th:href="@{/viagens/{id}/editar (id=${viagem.id})}">EDITAR</a>
                                <a type="button" th:href="@{/viagens/{id}/excluir (id=${viagem.id})}"
                                    onclick="return confirm('Tem certeza que deseja excluir a viagem?');">EXCLUIR</a>
                            </div>
                    </tr>
                </tbody>
            </table>
            <a sec:authorize="hasAuthority('ADMIN')" class="btnCadastro" th:href="@{/viagens/cadastrar}">CADASTRAR VIAGEM</a>
        </section>
    </main>
</body>

</html>