<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>EDITAR PASSAGEM</h1>
    <form method="POST" th:object="${passagem}" style="display: flex; flex-direction: column; width: 40%;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" th:field="*{id}" readonly>
        <label for="cidadeDestino">Cidade de Destino</label>
        <input type="text" placeholder="Recife" th:field="*{cidadeDestino}">
        <label for="cidadeOrigem">Cidade de Origem</label>
        <input type="text" placeholder="Recife" th:field="*{cidadeOrigem}">
        <label for="numeroBilhete">Numero do Bilhete</label>
        <input type="text" placeholder="1234" th:field="*{numeroBilhete}">
        <label for="assento">Assento</label>
        <input type="text" placeholder="A22" th:field="*{assento}">
        <label for="portao">Portão</label>
        <select th:field="*{portao}">
            <option th:each="portao:${portoes}" th:text="${portao}" th:value="${portao}">1</option>
        </select>
        <label for="terminal">Terminal</label>
        <select th:field="*{terminal}">
            <option th:each="terminal:${terminais}" th:text="${terminal}" th:value="${terminal}">AZUL</option>
        </select>
        <label for="embarque">Data e Hora do Embarque</label>
        <input type="datetime-local" th:field="*{embarque}">
        <label for="preco">Preço da Passagem</label>
        <input type="text" placeholder="2500,00" th:field="*{preco}">
        <button type="submit">SALVAR</button>
        
    </form>
    <br>
    <br>
    <a th:href="@{/passagens}">PASSAGENS</a>
</body>

</html>