<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>EDITAR PACOTE</h1>
    <form method="POST" th:object="${pacote}" style="display: flex; flex-direction: column; width: 40%;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" th:field="*{id}" readonly>
        <label for="nome">Nome do Pacote</label>
        <input type="text" placeholder="Praias Litoral Sul" th:field="*{nome}">
        <label for="destino">Cidade de Destino</label>
        <input type="text" placeholder="Recife" th:field="*{destino}">
        <label for="diasHospedagem">Dias de Hospedagem</label>
        <input type="text" placeholder="7" th:field="*{diasHospedagem}">
        <label for="ida">Data e Hora da Ida</label>
        <input type="datetime-local" th:field="*{ida}">
        <label for="volta">Data e Hora da Volta</label>
        <input type="datetime-local" th:field="*{volta}">
        <div>
            <p>Habilitar Promoção</p>
            <label for="sim">Sim</label>
            <input type="radio" th:field="*{promocao}" value="TRUE" name="promocao">
            <label for="nao">Não</label>
            <input type="radio" th:field="*{promocao}" value="FALSE" name="promocao">
        </div>
        <label for="preco">Preço do Pacote</label>
        <input type="text" placeholder="2500,00" th:field="*{preco}">

            <input name="passagem" type="checkbox" th:each="passagem : ${passagens}" th:field="*{passagensP}" th:value="${passagem.id}"
                th:text="${passagem.cidadeDestino}+' : '+${passagem.numeroBilhete}"/>
        <button type="submit">SALVAR</button>
    </form>
    <br>
    <br>
    <a th:href="@{/pacotes}">PACOTES</a>
</body>

</html>