<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a th:href="@{/perfil}" class="d-block" sec:authentication="name"></a>
    <br><br>
    <a th:href="@{/logout}">
        Logout
    </a>
    <br><br>
    <a th:href="@{/pacotes/cadastrar}">CADASTRAR PACOTE</a>
    <br>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Pacote</th>
                <th>Cidade de Destino</th>
                <th>Data da Ida</th>
                <th>Data da Volta</th>
                <th>Dias de Hospedagem</th>
                <th>Promoção</th>
                <th>Passagens Origem : Destino : ID</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pacote : ${pacotes}">
                <td th:text="${pacote.id}">ID</td>
                <td th:text="${pacote.nome}">Praias Litoral Sul</td>
                <td th:text="${pacote.destino}">Recife</td>
                <td th:text="${#temporals.format(pacote.ida, 'dd-MM-yyyy HH:mm')}">Ida</td>
                <td th:text="${#temporals.format(pacote.volta, 'dd-MM-yyyy HH:mm')}">Volta</td>
                <td th:text="${pacote.diasHospedagem}"></td>
                <td th:text="${pacote.promocao}">TRUE</td>
                <td>
                    <span style="display: block;" th:each="passagem : ${pacote.passagensP}"
                        th:text="${passagem.cidadeOrigem}+' : '+${passagem.cidadeDestino}+' : '+${passagem.id}">
                    </span>
                </td>
                <td th:text="${#numbers.formatCurrency(pacote.preco)}">6.300,00</td>
                <td>
                    <div>
                        <a type="button" th:href="@{/pacotes/{id} (id=${pacote.id})}">DETALHES

                        </a>
                        <a type="button" th:href="@{/pacotes/{id}/editar (id=${pacote.id})}">EDITAR

                        </a>
                        <a type="button" th:href="@{/pacotes/{id}/excluir (id=${pacote.id})}"
                            onclick="return confirm('Tem certeza que deseja excluir o pacote?');">EXCLUIR
                        </a>
                    </div>
                <td>
            </tr>
        </tbody>
    </table>
</body>

</html>