/* CSS Document */ :root {
    --yellow: #fbdb2c;
    --blue: #2BC6EE;
    --dark-grey: #49494C;
    --light-grey: #f4f4f4;
  }
  .section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
h1{
    font-size: 2rem;
}
h3{  
    font-size: clamp(2rem, 1.5vw, 2.5rem);
    text-align: center;
    font-weight: bolder;
    padding: 1rem 3rem;
    background-color: var(--yellow);
    border-radius:0.5rem 0.5rem 0 0;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem 3rem;
    gap:1rem;
}
.inputElement{
    display: flex;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom:4rem;
}
input{
   height: 4rem;
   width: 100%;
   border-radius:0.5rem;
   border: solid 0.5px var(--dark-grey);
   padding: 1rem 2rem;
   color: var(--dark-grey);
   font-size: 1.5rem;
}
input:focus{
    outline: none;
}
select{
    height: 4rem;
    width: 100%;
    border-radius:.5rem;
    border: solid 0.5px var(--dark-grey);
    padding: 1rem 2rem;
    color: var(--dark-grey);
    font-size: 1.5rem;
 
}

button{
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    margin-bottom:4rem;
    font-size: 2rem;
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: var(--dark-grey);
    color: var(--yellow);

}
p{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
}
fieldset{
padding: 0;
border: none;
}
.terminal:first-child{
    color: var(--blue);
}
.terminal:nth-child(2){
    color: orange;
}
.terminal:nth-child(3){
    color: var(--yellow);
}
.terminal:nth-child(4){
    color: green;
}
.terminal:nth-child(5){
    color: magenta;
}

