/* CSS Document */ :root {
    --yellow: #fbdb2c;
    --blue: #2BC6EE;
    --dark-grey: #49494C;
    --light-grey: #f4f4f4;
  }
  .section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
h1{
    font-size: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:1rem;
}
input{
   height: 4rem;
   width: 100%;
   border-radius:0.5rem;
   border: solid 0.5px var(--dark-grey);
   padding: 1rem 2rem;
   color: var(--dark-grey);
   font-size: 1.5rem;
}
input:focus{
    outline: none;
}
.checks{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: solid 1px var(--dark-grey);
    border-radius: .5rem;
}
.checks label{
    font-size: 1.5rem;
}
.checks span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.checks input{
 height: 1.5rem;
 width: 1.5rem;
 margin: 0.5rem;
}
select{
    height: 4rem;
    width: 100%;
    border-radius:.5rem;
    border: solid 0.5px var(--dark-grey);
    padding: 1rem 2rem;
    color: var(--dark-grey);
    font-size: 1.5rem;
 
}
button{
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    margin-bottom:4rem;
    font-size: 2rem;
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: var(--dark-grey);
    color: var(--yellow);

}
fieldset{
padding: 0;
border: none;
}
.terminal:first-child{
    color: var(--blue);
}
.terminal:nth-child(2){
    color: orange;
}
.terminal:nth-child(3){
    color: var(--yellow);
}
.terminal:nth-child(4){
    color: green;
}
.terminal:nth-child(5){
    color: magenta;
}

